@import "base";
@import "print";

html, body {
  height: auto;
}
body {
  -webkit-print-color-adjust: exact !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 14px Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.header {
  width: 50%;
  padding: .5em;
  display: flex;
  justify-content: space-around;
}
.header__backhome, .header__print {
  cursor: pointer;
  color: $colorFour;
}
.container {
  background-color: $colorThree;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.tag {
  width: 316px;
  border: solid 1px $colorFive;
  margin: 3px 2px;
}
.tag__description, .tag__cad, .tag__mark, .tag__price {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tag__description {
  height: 35px;
  font-size: 11px;
  word-wrap: break-word;
  text-align: center;
}
.tag__mark {
  background-color: $colorFive;
  height: 25px;
  font-size: 13px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #eeece1;
  font-weight: bold;
}
.tag__price {
  height: 44px;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
}
.tag__codebar {
  font-family: 'ccode39';
  font-size: 19px;
  height: 38px;
  width: 314px;
  overflow-y: hidden;
  text-align: center;
}
.tag__cad {
  height: 22px;
  font-size: 12px;
  text-align: center;
}
@include print(10mm, auto, 13.8mm, auto);
