<!DOCTYPE html>
<html lang="pt-bt">
  <head>
    <title>Gerador de Etiquetas V</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Content Security Policy -->

    <meta name="robots" content="noindex,nofollow">
    <meta name="author" content="@t_h_e_u">
    <meta name="description" content="Gerador de Etiquetas de preço para vitrine.">
    <meta name="theme-color" content="#fdd63a">
    <meta property="keywords" content="tag, gerador">
    <meta property="og:image" content="https://generatehangtags.herokuapp.com/assets/icons/maskable_icon_x512.png">
    <meta
      property="og:image:secure_url"
      content="https://generatehangtags.herokuapp.com/assets/icons/maskable_icon_x512.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/maskable_icon_x72.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/maskable_icon_x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/maskable_icon_x128.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    {% if css ===  '1' %}
      <link rel="stylesheet" href="/assets/css/tag_price.css" type="text/css" media="all">
    {% elif css === "2" %}
      <link rel="stylesheet" href="/assets/css/hubcap_table.css" type="text/css" media="all">
    {% elif css === "3" %}
      <link rel="stylesheet" href="/assets/css/tag_wms.css" type="text/css" media="all">
    {% else %}
      <link rel="stylesheet" href="/assets/css/home.css" type="text/css" media="screen">
    {% endif %}
    <script src="/assets/js/qrcode.min.js"></script>
  </head>
  <body></body>
</html>