{% include "head.njk" %}

{% if error !=  '' %}
  <div class="toast" id="toast">
    <div class="toast__container-1">
      <i class="fas fa-times-circle"></i>
    </div>
    <div class="toast__container-2">
      <p>Error</p>
      <p>{{error}}</p>
    </div>
    <button class="toast__button--close">
      &times;
    </button>
  </div>
{% endif %}

<main class="container">
  {% if notice_updated_msg !=  ''%}
    <header class="header">
      <small class="header__text"><b>ATUALIZAÇÃO: </b>{{notice_updated_msg}}</small>
    </header>
  {% endif %}
  
  <div class="content">
    <h2>GERAR ETIQUETAS DE PREÇO PARA VITRINE</h2>

    <form action="/label" method="post" enctype="multipart/form-data">
      <button title="Enviar" type="submit" class="file-input__button">ENVIAR</button>
      
      <div class="file-input__form">
        <input name="file" type='file' multiple>
        <span class="file-input__text" data-js-label>Arraste ou clique para enviar.</span>
      </div>
    </form>
    
    <p class="file-input__text">Baixe o modelo <a title="baixar modelo" class="link" href="/ModeloDeEtiqueta.xlsx" download>clicando aqui</a></p>  
  </div>

  <div class="content">
    <h2>GERAR TABELA DE PREÇO DE CALOTAS</h2>

    <form action="/hubcap" method="post" enctype="multipart/form-data">
      <button title="Enviar" type="submit" class="file-input__button">ENVIAR</button>
      
      <div class="file-input__form">
        <input name="file" type='file' multiple>
        <span class="file-input__text" data-js-label>Arraste ou clique para enviar.</span>
      </div>
    </form>

    <p class="file-input__text">Baixe o modelo <a title="baixar modelo" class="link" href="/ModeloDeCalota.ods" download>clicando aqui</a></p>  
  </div>

  <footer class="footer">
    <small class="footer__text"><b>{{ '</>' }}</b> with by <b>Matheus Batista</b></small>
  </footer>
</main>

{% include "footer.njk" %}
