{% include "head.njk" %}
{% include "header_print_template.njk" %}
<div class="foreground"></div>
<main class="container">
  <h1 class="title">TABELA DE PREÇOS DE CALOTA</h1>
  <article class="tables">
    <div class="table">
      <p>N°</p>
      <p>CÓDIGO</p>
      <p>PREÇO</p>
      {% for item in table1 %}
        <p>{{ item.id }}</p>
        <p>{{ item.ref }}</p>
        <p>{{ item.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.', ',') }}</p>
      {% endfor %}
    </div>
    <div class="table">
      <p>N°</p>
      <p>CÓDIGO</p>
      <p>PREÇO</p>
      {% for item in table2 %}
        <p>{{ item.id }}</p>
        <p>{{ item.ref }}</p>
        <p>{{ item.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.', ',') }}</p>
      {% endfor %}
    </div>
    <div class="table">
      <p>N°</p>
      <p>CÓDIGO</p>
      <p>PREÇO</p>
      {% for item in table3 %}
        <p>{{ item.id }}</p>
        <p>{{ item.ref }}</p>
        <p>{{ item.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}).replace('.', ',') }}</p>
      {% endfor %}
    </div>
  </article>
</main>
{% include "footer.njk" %}