{% include "head.njk" %}
{% include "header_print_template.njk" %}
<article class="container">
  {% for i in data %}
    <div class="wms">
      <div>
        <p class="wms__text">{{ i.split(removePrefix).join("") }}</p>
        <p class="wms__codebar">*{{ i }}*</p>
      </div>
    </div>
  {% endfor %}
</article>
{% include "footer.njk" %}