<div class="content">
  <h2>GERAR ETIQUETAS DE PREÇO PARA VITRINE</h2>
  <form action="/tag/price" method="post" enctype="multipart/form-data">
    <div class="file-input__form">
      <input name="file" type='file' multiple="multiple"/>
      <span class="file-input__text" data-js-label="data-js-label">Arraste ou clique para enviar.</span>
    </div>
    <button title="Enviar" type="submit" class="file-input__button">ENVIAR</button>
  </form>
  <p class="file-input__text">Baixe o modelo
    <a title="baixar modelo" class="link" href="/ModeloDeEtiqueta.xlsx" download="download">clicando aqui</a>
  </p>
</div>