<!DOCTYPE html>
<html lang="pt-bt">
<head>
  <title>Gerador de Etiquetas V</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="@t_h_e_u">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'nonce-G-SQ2MFD61V6' www.googletagmanager.com;" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <% if(css ===  '1') { %>
    <link rel="stylesheet" href="../assets/css/style-v1.css" type="text/css" media="screen">
  <% } else { %>
    <link rel="stylesheet" href="../assets/css/label-v1.css" type="text/css" media="all">
  <% } %>
</head>
<body>
  