<%- include('head') %>

<small class="obs"><b>OBS: </b>O envio dos arquivos pode ser feita somente em: <b>.CSV</b>, <b>.XLSX</b>, <b>.XLS</b>, <b>.ODS</b>.</small>

<main class="file-input">
  <form class="file-input__form">
    <input  name="file" type='file'>
    <button title="Enviar" type="button" class="file-input__button"><i class="far fa-paper-plane"></i></button>
    <a title="baixar modelo" class="file-input__button download" href="../assets/ExModelo.xlsx" download><i class="fas fa-download"></i></a>
    <span class="file-input__text" data-js-label>Clique aqui para enviar o arquivo.</span>
  </form>
</main>

<footer class="footer">
  <p class="footer__text"><b><%= '</>' %></b> with by <b>Matheus Batista</b></p>
</footer>

<%- include('footer') %>